<div>
    <h2>Bienvenido a la tienda</h2>
    
    <a href="http://localhost:8080/real-time-products">
        <h2>Agregar productos</h2>
        <h2>productos actualizados en tiempo real</h2>
    </a>
</div>
