<div id="prodDetail">
       <h1>aqui estoy en detail</h1>
<div>

{{#each detailData}}
        <p>{{title}}</p>
        <p>{{description}}</p>
        <p>{{price}}</p>
       {{/each}}
       {{[0].title}}

</div>
       
</div>